
*~
*.o
script/parse.tab.cc
script/parse.tab.hh
script/scan.cc
link
unittest/main
results.xml
/html
/latex
tests/1_hello/*
!tests/1_hello/*.s
!tests/1_hello/Makefile
!tests/1_hello/Bakefile
tests/2_asm/*
!tests/2_asm/*.s
!tests/2_asm/Makefile
!tests/2_asm/Bakefile
tests/3_extern/*
!tests/3_extern/*.s
!tests/3_extern/Makefile
!tests/3_extern/Bakefile
tests/4_ctest/*
!tests/4_ctest/*.c
!tests/4_ctest/Makefile
!tests/4_ctest/Bakefile
tests/watcom/w
tests/watcom/l
