
*~
*.o
src/script/parse.tab.cc
src/script/parse.tab.hh
src/script/scan.cc
link
dump
unittest/main
results.xml
/latex
tests/1_hello/*
!tests/1_hello/ref
!tests/1_hello/*.s
!tests/1_hello/Makefile
!tests/1_hello/Bakefile
tests/2_asm/*
!tests/2_asm/ref
!tests/2_asm/*.s
!tests/2_asm/Makefile
!tests/2_asm/Bakefile
tests/3_extern/*
!tests/3_extern/ref
!tests/3_extern/*.s
!tests/3_extern/Makefile
!tests/3_extern/Bakefile
tests/4_ctest/*
!tests/4_ctest/ref
!tests/4_ctest/*.c
!tests/4_ctest/Makefile
!tests/4_ctest/Bakefile
tests/gui/*
!tests/gui/ref
!tests/gui/*.c
!tests/gui/Makefile
!tests/gui/Bakefile
tests/watcom/w
tests/watcom/l
tests/rsx/z80/*
!tests/rsx/z80/rsx1.s
!tests/rsx/z80/rsx2.s
!tests/rsx/z80/main.s
!tests/rsx/z80/common.s
!tests/rsx/z80/Makefile
tests/rsx/i86/*
!tests/rsx/i86/rsx1.s
!tests/rsx/i86/rsx2.s
!tests/rsx/i86/main.s
!tests/rsx/i86/common.s
!tests/rsx/i86/Makefile
tests/win16api/msgbox/main.exe
tests/win16api/window/main.exe
tests/dll/win16/lib.dll
tests/dll/win16/main.exe
tests/dll/win32/lib.dll
tests/dll/win32/main.exe
tests/dll/win64/lib.dll
tests/dll/win64/main.exe
